[submodule "repos/robot-cloud"]
	path = repos/robot-cloud
	url = git@github.com:sakurakugu/robot-cloud.git
[submodule "repos/robot-onboard"]
	path = repos/robot-onboard
	url = git@github.com:sakurakugu/robot-onboard.git
[submodule "repos/robot-phone"]
	path = repos/robot-phone
	url = git@github.com:sakurakugu/robot-phone.git
[submodule "repos/robot-pc"]
	path = repos/robot-pc
	url = git@github.com:sakurakugu/robot-pc.git
